// Colors

$color-white: #f0f0f0;
$color-grey-dark: #121212;
$color-grey: #212121;
$color-grey-light: #424242;
$color-green: #61f489;
$color-purple: #925bff;
$color-blue: #59d2fe;

// Font-size:

$fs-normal: 13px;
$fs-small: 11px;
$fs-big: 16px;
$fs-xbig: 24px;
$fs-xxbig: 32px;

// Margin / Padding
$space-small: 5px;
$space-normal: 10px;
$space-large: 20px;
