// Colors

$color-white: #f0f0f0;
$color-grey-dark: #182628;
$color-grey: #474b4f;
$color-grey-light: #6b6e70;
$color-green: #86c232;
$color-purple: #8860d0;
$color-blue: #1b9ce5;

// Font-size:

$fs-normal: 13px;
$fs-small: 11px;
$fs-big: 16px;
$fs-xbig: 24px;
$fs-xxbig: 32px;

// Margin / Padding
$space-small: 5px;
$space-normal: 10px;
$space-large: 20px;

// BreakPoints
$mobile: 768px;
$tablet: 979px;
$desktop: 1400px;
