@import '../mixins';

.skills-wrapper {
  width: 200px;
  min-width: 200px;
  height: 100%;
  position: fixed;
  padding-top: 60px;
  flex-direction: column;
  background: $color-grey;

  .skills-circle-wrapper {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    .skill-circle {
      flex-direction: column;
      margin: $space-normal 0;
      align-items: center;
      width: calc(100% / 3);

      svg {
        margin-bottom: $space-small;
      }

      .skill-circle-desc {
        font-size: $fs-small;
      }
    }
  }

  .skills-bar-wrapper {
    flex-direction: column;
    padding: $space-large;
    flex-wrap: wrap;

    .skill-bar {
      flex-direction: row;
      align-items: center;
      margin-bottom: $space-normal;

      svg {
        margin-right: $space-small;
      }

      .skill-bar-label {
        font-size: $fs-normal;
      }

      .skill-bar-img {
        height: 25px;
        width: 25px;
        margin-right: $space-normal;
      }
    }
  }

  .skills-word-wrapper {
    font-size: $fs-small;
    padding: $space-normal;
    flex-wrap: wrap;

    .skill-word:not(first-child) {
      margin-left: $space-small;
    }
  }
}

@media all and (max-width: $mobile) {
  .skills-wrapper {
    width: 100%;
    min-width: none;
    height: fit-content;
    position: initial;
    padding-top: $space-normal;

    .skills-circle-wrapper {
      padding: $space-normal;

      .skill-circle {
        flex-direction: column;
        margin: 0 $space-normal $space-normal 0;
        align-items: center;
        width: fit-content;
      }
    }

    .skills-bar-wrapper {
      flex-direction: row;
      margin-top: $space-normal;
      padding: 0;

      .skill-bar {
        margin: $space-normal $space-normal;
        width: 100px;
      }
    }

    .skills-word-wrapper {
      margin-top: $space-normal;
    }
  }
}
