@import '../mixins';

.skills-wrapper {
  width: 200px;
  min-width: 200px;
  height: 100%;
  position: fixed;
  padding-top: 60px;
  flex-direction: column;
  background: $color-grey;

  .skills-circle-wrapper {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    .skill-circle {
      flex-direction: column;
      margin: $space-normal 0;
      align-items: center;
      width: 50%;

      .skill-circle-img {
        width: 60px;
        height: 60px;
        //padding: $space-normal;
        display: block;
        border-radius: 50%;
        margin-bottom: $space-small;
        background: $color-grey-dark;
        // border: 8px solid $color-grey-dark;
        // box-shadow: -5px 10px 10px $color-grey-dark;
      }

      .skill-circle-desc {
        font-size: $fs-small;
      }
    }
  }

  .skills-bar-wrapper {
    flex-direction: column;
    padding: $space-large;

    .skill-bar {
      flex-direction: row;
      align-items: center;
      margin-bottom: $space-normal;

      .skill-bar-label {
        font-size: $fs-normal;
      }

      .skill-bar-img {
        height: 25px;
        width: 25px;
        margin-right: $space-normal;
      }
    }
  }

  .skills-word-wrapper {
    font-size: $fs-small;
    padding: $space-normal;
    flex-wrap: wrap;

    .skill-word:not(first-child) {
      margin-left: $space-small;
    }
  }
}

@media all and (max-width: $mobile) {
  .skills-wrapper {
    width: 100%;
    min-width: none;
    height: fit-content;
    position: initial;
    padding-top: $space-normal;

    .skills-circle-wrapper {
      padding: $space-normal;

      .skill-circle {
        flex-direction: column;
        margin: 0 $space-normal $space-normal 0;
        align-items: center;
        width: fit-content;
      }
    }

    .skills-bar-wrapper {
      flex-direction: row;
      margin-top: $space-large;
      padding: 0;

      .skill-bar {
        margin: 0 $space-normal;
      }
    }

    .skills-word-wrapper {
      margin-top: $space-normal;
    }
  }
}
