@import '../mixins';

.history-wrapper {
  flex-grow: 1;
  flex-direction: column;

  .fact-wrapper {
    flex-direction: column;
    margin: $space-large;

    .fact-label {
      color: $color-grey;
      font-size: $fs-xbig;
    }

    .fact-infos {
      flex-direction: row;
      align-items: center;
      margin-bottom: $space-normal;
      .fact-infos-socity-name {
        color: $color-green;
        font-weight: 600;
        margin-right: $space-normal;
      }

      .fact-infos-dates {
        color: $color-blue;
        font-size: $fs-small;
        margin: $space-small 0;

        .date-arrow {
          color: $color-green;
          margin: 0 $space-small;
        }
      }
    }

    .fact-desc-wrapper {
      flex-direction: row;
      align-items: start;
      opacity: 0;
      transition: 0.5s;
      margin-bottom: $space-normal;

      .fact-socity-img {
        width: 50px;
        min-width: 50px;
        height: 50px;
        display: block;
        padding: $space-small;
        background: white;
        border-radius: 5px 0 0 5px;
        position: relative;
        left: 1px;
      }

      .fact-desc-infos {
        align-items: start;
        flex-grow: 1;
        background: white;
        border-radius: 0 5px 5px 5px;
        padding: 17px $space-normal;
        min-height: 50px;
        flex-direction: column;

        .fact-desc-text {
          color: $color-grey-light;
          margin-bottom: $space-normal;
        }

        .fact-desc-bulletpoints {
          color: $color-grey;
          font-size: $fs-normal;
          width: 100%;

          li {
            color: $color-grey;
            margin-left: $space-large;
          }
        }

        .fact-desc-technos {
          flex-direction: row;
          margin-top: $space-normal;
          background: $color-grey-dark;
          width: fit-content;
          padding: $space-small;
          border-radius: 5px;

          svg {
            margin-right: $space-normal;
          }
        }
      }
    }
  }
}

@media all and (max-width: $mobile) {
  .history-wrapper {
    .fact-wrapper {
      margin: $space-large 0;
    }
  }
}
