@import '../mixins';

.content-wrapper {
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  background: $color-white;

  .content-body {
    flex-grow: 1;
    margin-left: 200px;
    flex-direction: column;
    padding: $space-large;
    background: $color-white;
    height: fit-content;
  }
}

@media all and (max-width: $mobile) {
  .content-wrapper {
    flex-direction: column;

    .content-body {
      margin-left: 0;
      padding: $space-large $space-normal;
    }
  }
}
